# Core functionality - changes here should be rare!
/src/app.py                   @matijs
/src/backend/database.py      @matijs
/src/backend/routers/auth.py  @matijs

# The frontend will need refactored soon to be more object oriented.
/src/static/   @matijs
